<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Moritz Seebacher",
  "url": "https://moritzseebacher.github.io",
  "image": "https://moritzseebacher.github.io/Seebacher-Moritz_2023_7_ret_pass_format.jpg",
  "jobTitle": "PhD Student",
  "affiliation": [
    { "@type": "Organization", "name": "ifo Institute", "url": "https://www.ifo.de" },
    { "@type": "Organization", "name": "LMU Munich", "url": "https://www.lmu.de" }
  ],
  "description": "Applied microeconomist researching education and labor economics using LinkedIn data.",
  "email": "seebacher@ifo.de",
  "sameAs": [
    "https://www.linkedin.com/in/moritz-seebacher-853974223/"
  ]
}
</script>
